body {
    padding-top: 10em;
    height: 100vh;
    background-image: linear-gradient(rgb(53, 153, 235), rgb(110, 19, 214), rgb(238, 160, 14));
}

.container {
    display:flex; 
    justify-content: center;
}

#counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 290px;
    width: 290px;
    border: 1.5px solid white;
    border-radius: 1000px;
    font-size: 4em;
}

p {
    margin: 6em 30em 3em 30em;
    border-top: 1px solid white; 
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 1.5em;
    border-radius: 100px;
    border: 1px solid white;
    background-color: transparent;
    margin-left: 20px;
    outline: none;
}
































/* * {
    box-sizing: border-box;
}

.v-align {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    max-height: 90vh;
    top: 50%;
    transform: translateY(-50%)
}

.hero-btn {
    position: relative;
    width: 200px;
    margin: auto;
    height: 66px;
}

.hero-btn .btn {
    background-color: #ff0083;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    width: 200px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
    transform: perspective(600px) rotateX(0deg) scale(1);
    transition: all 0.2s linear;
}

.hero-btn .particles-circle {
    position: absolute;
    background-color: #ff0083;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 50%;
    margin-left: -15px;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    /* visibility: hidden; */


.hero-btn .particles-circle:nth-of-type(odd) {
    border: solid 2px #ff0083;
    background-color: transparent;
} 